@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

body {
  font-family: "Dongle", sans-serif;
}

body .wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
}

.block {
  width: 200px;
  height: 200px;
  border: 1px solid red;
}
